.onboarding-wrapper
  .form-container
    %a{href: root_path}
      %img.logo{src: asset_path("logo.png") }

    = react_component("users/UserCreator",
      { t: component_translations("user_creator"),
        url: user_registration_path,
        signInUrl: new_user_session_path,
        origin: params[:origin].presence,
        role: params[:role].presence,
      })
  .big-instructions-box
    %h1= t("users.registrations.new.big_box.title.html")
    %p= t("users.registrations.new.big_box.text.html")
