.onboarding-wrapper
  .form-container
    = react_component("users/UserCreator", {t: component_translations("user_creator"), url: user_registration_path})
  .big-instructions-box
    %h1
      Hello
      %strong there!
    %p We connect you <br> with you favorite celebrities
