= render "shared/navbar", logo: asset_path("logo_dark.png"), class: "red-wrapper"

= react_component("celebrities/CelebrityProfile",
  { celebrity: @presenter.json_data,
    t: component_translations("celebrity_profile", deep_resolve: true),
    message_request_url: celebrity_message_requests_path(@presenter.id)})
