div[data-react-class="Alert"] {
  position: fixed;
  z-index: 2;
}

.alert-wrapper,
div.alert-wrapper {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 3;
  left: 0;
  top: 0;

  background: rgba(56, 54, 54, 0.5);
  justify-content: center;
  flex-direction: column;
  display: flex;
}

div.alert {
  border-radius: 2px;
  padding: 40px 30px;
  text-align: center;
  background: #fff;
  margin: 0 auto;
  border: none;
  width: 50%;

  @media(min-width: $breakpoint-xmedium) {
    width: fit-content;
  }

  h3 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #36353c;
  }

  p {
    display: block;
    font-size: 14px;
    color: #6c6c6f;
    margin: 0 0 30px;
    max-width: 250px;
  }

  svg {
    height: 30px;
    width: 30px;
  }

  button.accept {
    border: none;
  }

  &.alert-error,
  &.alert-alert {
    button.accept {
      background: $message-error;
    }
  }

  &.alert-success,
  &.alert-notice {
    button.accept {
      background: $message-success;
    }
  }
}
