.box {
  @media (min-width: $breakpoint-medium) {
    box-shadow: 0 6px 10px 0 rgba(183, 183, 183, 0.5);
  }

  transition: all 0.5s ease-out 0s;
  margin-bottom: 20px;
  border-radius: 12px;
  background: #fff;

  h2 {
    color: $primary-normal-purple;
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.25rem;
    font-weight: bold;
  }
}

.std-box {
  @extend .box;

  @media (min-width: $breakpoint-medium) {
    padding: 25px 37px;
  }
}
