.box {
  @media (min-width: $breakpoint-medium) {
    box-shadow: 0 6px 10px 0 rgba(183, 183, 183, 0.5);
  }

  transition: all 0.5s ease-out 0s;
  margin-bottom: 20px;
  border-radius: 12px;
  background: #fff;

  h2 {
    color: $primary-normal-purple;
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.25rem;
    font-weight: bold;
  }

  p.wrapped {
    word-break: break-word;
  }
}

.std-box {
  @extend .box;

  @media (min-width: $breakpoint-medium) {
    padding: 25px 37px;
  }
}

.legal {
  background: rgba(24, 0, 163, 0.08);
  padding: 20px 150px;

  h1, h2, h3 {
    font-weight: bold;
    color: #515c74;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.7rem;
  }

  ol, li {
    margin-bottom: 10px;

    span {
      line-height: 1.5;
    }
  }

  .p {
    text-align: justify;
    margin-bottom: 5px;
  }
}
