/*######################################################
# BUTTONS
######################################################*/

.button-base {
  transition: all 0.5s ease-out 0s;
  font-family: 'Lato', sans-serif;
  border-radius: 30px;
  padding: 10px 20px;
  text-align: center;
  font-weight: 700;
  display: inline-block;
  font-size: 1rem;
  outline: none;
  color: #fff;

  @media(min-width: $breakpoint-xmedium) {
    font-size: 1.25rem;
    padding: 10px 50px;
  }
}

@mixin button-base-properties($color) {
  border: 1px solid $color;
  background-color: $color;
  cursor: pointer;

  &:hover {
    color: #fff;
  }
}

button,
input[type="submit"], {
  @extend .button-base;
}

.button-primary {
  @extend .button-base;
  @include button-base-properties($primary-light-purple);
}

.button-secondary {
  @extend .button-base;
  border: 1px solid $primary-light-purple;
  background-color: #fff;
  color: $primary-light-purple;
  cursor: pointer;

  &:hover {
    color: $primary-light-purple;
  }
}

.button-small {
  padding: 5px 10px;
  font-size: 1rem;
}

.button-primary-small {
  @extend .button-primary;
  @extend .button-small;
}

.button-secondary-small {
  @extend .button-secondary;
  @extend .button-small;
}

button.centered {
  margin: 0 auto;
  display: block;
}
