/*######################################################
# HINTS
######################################################*/

.input-hint,
span.input-hint {
  font-family: 'Noto Sans', sans-serif;
  color: $primary-light-gray;
  font-size: 0.75rem;
}
