/*######################################################
# INPUTS
######################################################*/

input,
select,
textarea {
  transition: all 0.5s ease-out 0s;
  border: 1px solid $primary-light-gray;
  color: $primary-dark-gray;
  font-size:  0.875rem;
  border-radius: 22px;
  padding: 6px 12px;
  outline: none;

  &:focus {
    border: 1px solid $primary-normal-purple;
  }
}

div.stateful-input {
  display: inline-block;
  position: relative;

  input {
    width: -webkit-fill-available;
  }

  svg.icon {
    background: #a5adba;
    position: absolute;
    cursor: pointer;
    fill: #fff;
    right: 5%;
    top: 20%;
  }
}

input#whatsapp {
  background-image: asset-url('whatsapp.svg');
  background-position: left 4px;
  background-repeat: no-repeat;
  background-size: 18px;
  padding: 4px 30px;
}

select {
  background: #fff;
  width: 100%;
}
