table.default {
  border-collapse: collapse;
  margin-bottom: 20px;
  width: 100%;

  tr {
    text-align: left;

    &:nth-child(even) {
      background: #f8f6fe;
    }

    &:nth-child(odd) {
      background: #ffffff;
    }
  }

  th {
    color: $primary-normal-purple;
    font-size: 1.3rem;
  }

  td, th {
    padding: 15px 10px;
  }
}
