div.celebrity-profile {
  div.celebrity-header {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    padding: 20px;
    height: 400px;
    z-index: 0;

    @media(min-width: $breakpoint-xmedium) {
      padding: 0 210px 20px;
      background-image: none;
      height: 300px;
    }

    justify-content: flex-end;
    flex-direction: column;
    display: flex;

    h1 {
      font-weight: bold;
      font-size: 2.8125rem;
      margin-bottom: 0;
      color: #fff;

      @media(max-width: $breakpoint-xmedium) {
        font-size: 2.5rem;
      }
    }

    h4 {
      font-size: 1.5625rem;
      color: #fff;

      @media(max-width: $breakpoint-xmedium) {
        font-size: 1.5rem;
      }
    }

    h1, h4 {
      line-height: 1;
    }

    div.celebrity-photo {
      background-position: center;
      background-size: cover;
      border-radius: 10px;
      position: absolute;
      height: 280px;
      width: 280px;
      bottom: -140px;
      right: 10%;

      @media(min-width: $breakpoint-large) {
        right: 20%;
      }
    }

    &:after {
      background: linear-gradient(to bottom, rgba(255,0,0,0), rgba(255,0,0,1));
      position: absolute;
      opacity: 0.5;
      height: 100%;
      width: 100%;
      z-index: -1;
      content: "";
      left: 0;
      top: 0;

      @media(min-width: $breakpoint-xmedium) {
        background: none;
        background-image: asset-url("bg_celebrity.png");
        background-size: cover;
        opacity: 1;
      }
    }

    svg.back {
      position: absolute;
      cursor: pointer;
      top: 10px;

      @media(min-width: $breakpoint-xmedium) {
        left: 150px;
        top: 90px;
      }
    }
  }
}

div.main-container {
  background: $primary-light-white;
}

div.celebrity-info {
  padding: 20px;

  @media(min-width: $breakpoint-xmedium) {
    padding: 30px 210px 50px;
  }

  h3 {
    color: $primary-normal-pink;
    font-size: 1.56rem;
    font-weight: bold;
  }

  p {
    color: $primary-dark-gray;
    font-size: 1rem;
  }
}

div.request-form {
  background: #f0f0f0;
  position: relative;
  padding: 40px 20px;
  z-index: 1;

  @media(min-width: $breakpoint-xmedium) {
    padding: 40px 320px;
  }

  form.envelope {
    border-radius: 8px;
    position: relative;

    &:after {
      content: "";
      width: 108%;
      height: 100%;
      background: #e3e3e3;
      position: absolute;
      top: 20px;
      left: -4%;
      z-index: -1;
    }

    &:before {
      clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
      background: #e3e3e3;
      position: absolute;
      height: 90px;
      width: 108%;
      content: "";
      z-index: -1;
      top: -70px;
      left: -4%;
    }
  }

  input#whatsapp {
    width: 50%;
  }
}
