.no-results {
  box-shadow: 0 4px 5px 0 rgba(211, 210, 210, 0.5);
  background: asset-url('no_results.png');
  background-size: contain;
  border-radius: 10px;
  margin: 20px auto 0;
  height: 370px;
  width: 500px;

  align-items: flex-end;
  justify-content: center;
  display: flex;

  h4 {
    margin-bottom: 20px;
    font-size: 1.25rem;
    font-weight: bold;
    color: #444;
  }
}
