/*######################################################
# FORMS
######################################################*/

.input-wrapper {
  align-items: center;
  margin-bottom: 10px;
  display: grid;
  width: 100%;

  label {
    margin-bottom: 2px;
  }

  span.input-hint {
    transition: all 0.5s ease-out 0s;
    display: none;
  }

  span.field-error {
    color: red;
  }

  input {
    &.field-error {
      border: 1px solid $message-error;
    }

    &:focus + span.input-hint {
      display: block;
    }

    &:focus ~ span.field-error ~ span.input-hint {
      display: none;
    }
  }

}

form.form-wrapper {
  input[type="submit"],
  button[type="submit"] {
    margin: 20px auto 0;
    display: block;
    width: 85%;
  }
}

form.darken-form {
  input[type="submit"],
  button[type="submit"] {
    margin: 20px auto 0;
    display: block;
  }

  label {
    font-weight: normal;
    color: #000;
  }

  input, textarea {
    border: none;
    border-bottom: 1px solid #f0f0f0;
    border-radius: 0;
    padding: 4px 0;
    margin-bottom: 20px;
    font-size: 0.875rem;

    &.field-error {
      border: none;
      border-bottom: 1px solid red;
    }
  }

  textarea {
    min-height: 10px;
  }

  .input-wrapper {
    label {
      margin-bottom: 8px;
    }
  }
}
