.navbar-wrapper {
  position: absolute;
  padding: 10px;
  z-index: 5;
  right: 0;
  left: 0;
  top: 0;

  justify-content: space-between;
  align-items: center;
  display: flex;

  @media(min-width: $breakpoint-xmedium) {
    padding: 10px 150px 10px 60px;
  }

  &.red-wrapper {
    transition: all 0.5s ease-out 0s;
    background: transparent;
  }

  &.no-logo-mobile {
    @media(max-width: $breakpoint-medium) {

      a.logo {
        display: none;
      }
    }
  }

  a.logo {
    position: relative;

    &:before {
      position: absolute;
      background: #fff;
      content: "";
      height: 25px;
      width: 2px;
      left: -2px;
      top: 6px;
    }

    img {
      width: 200px;
    }
  }

  a {
    line-height: 0;
  }

  ul {
    display: flex;
    margin: 0;

    li + li {
      margin-left: 10px;

      @media(min-width: $breakpoint-xmedium) {
        margin-left: 40px;
      }
    }

    a {
      position: relative;
      color: #fff;

      &.active {
        font-weight: bold;

        &:after {
          position: absolute;
          background: #fff;
          bottom: -4px;
          width: 100%;
          height: 2px;
          content: "";
          left: 0;
        }
      }
    }
  }

  svg {
    margin-right: 10px;
  }
}
