/*######################################################
# ONBOARDING WRAPPER
######################################################*/

.onboarding-wrapper {
  grid-template-columns: 1fr;
  display: grid;
  margin: 0 auto;
  height: 100vh;

  @media(min-width: $breakpoint-xmedium) {
    grid-template-columns: 2fr 3fr;
  }

  .form-container {
    background: $primary-light-white;
    align-content: start;
    grid-row-gap: 20px;
    display: grid;
    padding: 10px 20px;

    @media(min-width: $breakpoint-xmedium) {
      padding: 20px 0 0 20px;
      grid-row-gap: 0px;
    }

    img.logo {
      cursor: pointer;
      width: 250px;
    }

    .std-box {
      background: $primary-light-white;

      @media(min-width: $breakpoint-xmedium) {
        justify-self: right;
        margin-right: -80px;
        background: #fff;
        width: 320px;
      }

      &.fix-height {
        align-content: space-around;
        min-height: 460px;
        display: grid;
      }
    }

    p.instructions {
      text-align: center;
      font-size: 12px;
      color: #979797;
    }

    #forgot_passwd {
      text-align: right;
      display: block;
    }

  }

  .big-instructions-box {
    background-image: asset-url('instructions_background.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
    z-index: -1;

    @media (min-width: $breakpoint-xmedium) {
      display: block;
    }

    padding: 240px 0 0 181px;

    h1 {
      font-weight: bold;
      color: #fff;

      strong {
        color: $primary-normal-pink;
      }
    }

    p {
      line-height: 2.25rem;
      font-size: 1.75rem;
      font-weight: bold;
      color: #fff;
      margin: 0;
    }
  }
}
