.legal
  .title TÉRMINOS Y CONDICIONES GENERALES SALUDOFAMOSOS
  %p.small Actualizado Agosto 2019
  %h3 1. DEFINICIONES
  %ol
    %li
      %span SALUDOFAMOSOS: Cuando se haga referencia a SALUDOFAMOSOS, se estará haciendo referencia a la sociedad comercial SALUDOS FAMOSOS S.A.S., sus filiales, subsidiarios y/o compañías o personas relacionadas de estas, así como empleados, contratistas y dependientes, encargados de prestar los servicios de compra de vídeo mensajes entre el Fan y la Celebridad.
    %li
      %span Vídeo Mensajes: Son vídeos grabados por una Celebridad motivo de la compra de los mismos por parte de un Fan.
    %li
      %span Celebridad: es una persona o que por su actividad artística, deportiva o por su nivel de audiencia en redes sociales es altamente reconocido por el público en general.
    %li
      %span Fan: es cualquier persona, natural o jurídica, interesada en comprar vídeo mensajes a una Celebridad
    %li
      %span Servicios: hace referencia a la prestación de servicios de intermediación por parte de SALUDOFAMOSOS.
    %li
      %span Audiencia: hace referencia a los potenciales y actuales seguidores de las Celebridades en redes sociales y en los medios locales y globales.
    %li
      %span La Plataforma: es el portal www.saludofamosos.com que SALUDOFAMOSOS pone a disposición de los Fan y las Celebridades para que allí se registren y accedan a sus Servicios. La Plataforma ofrece a sus visitantes una descripción de los Servicios y da la posibilidad de que cada Fan seleccione opciones que se enmarquen en sus necesidades y se facilite así la elección de su Celebridad.
    %li
      %span Redes Sociales: Hace referencia a Facebook, Instagram, Snapchat, Youtube, Twitter y cualquier otra que SALUDOFAMOSOS decida.
    %li
      %span Parte: la Celebridad y SALUDOFAMOSOS serán cada uno la “Parte” y conjuntamente las “Partes”.
  %h3 2. SERVICIOS DE SALUDOFAMOSOS
  %ol
    %li
      %span SALUDOFAMOSOS presta servicios de compra y venta de vídeo mensajes, por lo que ofrece ser intermediario entre las Celebridades y los Fan que desean que una o varias de sus Celebridades favoritas graben mensajes saludando a ellos mismos o a algún tercero.
    %li
      %span Las Celebridades seran escogidas directamente por los Fan de acuerdo a sus gustos y necesidades y SALUDOFAMOSOS verificará que las Celebridades sean quien dicen ser.
    %li
      %span El Fan y la Celebridad no tendrán contacto directo. Lo relacionado con los Vídeo mensajes y demás servicios serán intermediados sin representación por SALUDOFAMOSOS; Salvo que SALUDOFAMOSOS autorice lo contrario.
  %h3 3. CONDICIONES DE ACCESO Y REGISTRO EN LA PLATAFORMA
  %ol
    %li
      %span Estos términos y condiciones generales regulan la relación jurídica entre la Celebridad y SALUDOFAMOSOS (en adelante los “Términos”), es decir, son aplicables a la relación de intermediación por medio de la cual SALUDOFAMOSOS contacta y coordina con la Celebridad la grabación y envío de los Vídeo mensajes.
    %li
      %span Cualquier persona y en especial quien quiera registrarse y actuar como Celebridad deberá aceptar estos Términos, los cuales tienen un carácter obligatorio y vinculante. En caso de no aceptar los Términos debe abstenerse de utilizar o registrarse en la Plataforma. Estos Términos modifican y dejan sin efecto los términos y condiciones publicados en la Plataforma con anterioridad al mes de agosto del 2019, y así mismo, dejan sin efecto cualquier acuerdo que se haya pactado y que contravenga lo aquí establecido. SALUDOFAMOSOS se reserva el derecho a hacer las modificaciones que considere pertinentes.
    %li
      %span La Celebridad debe leer, entender y aceptar todas las condiciones establecidas en estos Términos y en las Políticas de Privacidad señaladas en el siguiente link (...), o demás documentos incorporados a los mismos por referencia.
    %li
      %span Dentro de los parámetros a ser utilizados por SALUDOFAMOSOS, junto con el Fan, para la elección de las Celebridades, se encuentra, sin limitarse, que esta persona sea reconocida en Redes Sociales o medios digitales como Televisión, Radio, Medios impresos o Sitios web.
    %li
      %span A los presentes Términos y a las relaciones jurídicas que se originen en virtud de los mismos entre o con SALUDOFAMOSOS, los Fan, las Celebridades y/o cualquier tercero, le aplicarán, en lo pertinente la ley 527 de 1999 y las normas que la modifiquen y reglamenten, principalmente en tanto que se entiende que se trata de relaciones de Comercio Electrónico, es decir, de cuestiones suscitadas por relaciones de índole comercial, sea o no contractuales, estructuradas a partir de la utilización de uno o más mensajes de datos o de cualquier otro medio similar.
  %h3 4. CONDICIONES DE MANEJO PARA LAS CELEBRIDADES EN LA PLATAFORMA
  %ol
    %li
      %span La Celebrida debe registrarse en la Plataforma, dicha inscripción será gratuita.
    %li
      %span En el momento del registro, con base en un listado de posibles precios establecidos por SALUDOFAMOSOS, la Celebridad podrá escoger en el sistema de la Plataforma el precio que se cobrara a los Fan por cada uno de sus Vídeo mensajes.
    %li
      %span En algunos eventos, cuando se requieran factores indispensables para la realización de los Vídeo mensajes y bajo entera discrecionalidad de SALUDOFAMOSOS, se podrá pactar un precio adicional por los Vídeo mensajes a ser grabados por las Celebridades.
    %li
      %span Así mismo, en caso de que SALUDOFAMOSOS lo considere necesario se firmará un contrato adicional en el que se regularán temas específicos y excepcionales que no se encuentren establecidos en estos Términos.
    %li
      %span A los pagos se aplicarán las retención y tributos a los que haya lugar.
    %li
      %span SALUDOFAMOSOS pagará a la Celebridad el valor correspondiente a los Vídeo mensajes, dentro de los noventa (90) días siguientes a la fecha de entrega de los mismos a los Fan.
    %li
      %span La forma de pago será acordada entre SALUDOFAMOSOS y la Celebridad.
  %h3 5. EXCLUSIÓN DE RESPONSABILIDAD POR PARTE DE SALUDOFAMOSOS
  %ol
    %li
      %span El hecho de registrarse como Celebridad no significa que será contratada para grabación de Vídeo mensajes. Esto ocurrirá únicamente si el Fan está interesado en los Vídeo mensajes de esta.
    %li
      %span SALUDOFAMOSOS y la Celebridad son personas distintas y autónomas y la única relación que mantienen es la establecida en estos Términos. En consecuencia, solo están obligados a responder por las deudas y obligaciones propias y en ningún caso por las adquiridas o asumidas por el otro.
    %li
      %span La Celebridad reconoce y acepta ser el exclusivo responsable por la información que suministra en los Vídeo mensajes en el desarrollo de su actividad.
    %li
      %span SALUDOFAMOSOS no será responsable por las quejas o reclamaciones que le hagan a la Celebridad en relación con la publicación de los Anuncios de los Productos de los Anunciantes.
    %li
      %span La Celebridad declara que mantendrá indemne a SALUDOFAMOSOS y al Fan respecto a cualquier reclamo, queja, demanda que un tercero presente en contra de estos, sus filiales, subsidiarios y/o compañías o personas relacionadas de estas, así como empleados, contratistas y dependientes por cualquier actividad desarrollada por la Celebridad, diferente a los Vídeo mensajes contratados por SALUDOFAMOSOS o en los eventos en los que ponga información no autorizada por SALUDOFAMOSOS. Esta indemnidad se extiende a cualquier reclamación que surja porque (i) durante la grabación de los Vídeo mensajes se utilice contenido sin autorización de quien tenga derechos sobre el mismo; (ii) se dé un uso inapropiado de una marca, signo distintivo o derechos de similar naturaleza, (iii) se dé un uso inapropiado de bienes protegidos por el derecho de autor o (iv) por el incumplimiento de un deber por causa directa o indirecta de la Celebridad. La Celebridad asumirá la defensa de SALUDOFAMOSOS y el Fan cubrirá los perjuicios originados por estos hechos, incluidas multas, sanciones administrativas, costos, gastos, indemnizaciones y honorarios de abogado que se llegaren a causar.
    %li
      %span Los Vídeo mensajes y cualquier acto vinculado con los mismos no crea ningún contrato de sociedad, mandato, franquicia, agencia, relación laboral o de consumo entre SALUDOFAMOSOS y la Celebridad.
  %h3 6. OBLIGACIONES DE LA CELEBRIDAD
  %ol Con la aceptación de los Términos, la Celebridad se obliga a:
  %ol
    %li
      %span Grabar y entregar de forma oportuna los Vídeo mensajes contratados de acuerdo con las instrucciones impartidas por SALUDOFAMOSOS.
    %li
      %span Utilizar toda su pericia, conocimiento y celo en el cumplimiento de sus obligaciones.
    %li
      %span Aprobar la grabación de los Vídeo mensajes, previo acuerdo con SALUDOFAMOSOS respecto de la cantidad, contenido y calidad de los mismos.
    %li
      %span Utilizar la información entregada por SALUDOFAMOSOS sólo para las labores que éste le encomiende, estando expresamente prohibido su uso en otros casos.
    %li
      %span Tener las herramientas y útiles necesarios para la grabación de los Vídeo mensajes, esto incluye acceso a internet y equipos de excelente calidad.
    %li
      %span No contactar o intentar contactar directamente a los Fan, ni proveerles sus datos personales, como por ejemplo número de teléfono o correo electrónico, ni negociar directamente los términos de los Vídeo mensajes o el pago de los mismos.
    %li
      %span Guardar la información confidencial y secreta del Fan o SALUDOFAMOSOS que llegue a su conocimiento como consecuencia de la prestación de los servicios.
    %li
      %span Informar por escrito a SALUDOFAMOSOS en caso de que: ocurra algún evento que afecte la relación contractual celebrada y que pueda afectar a SALUDOFAMOSOS o al Fan.
    %li
      %span Con excepción, de los casos expresamente autorizados por SALUDOFAMOSOS, permitir el uso de sus imágenes e información publicada en sus Redes Sociales para efectos promocionales, incluido sin limitarse, el derecho a usar las fotos de perfil de las Redes Sociales de la Celebridad, con el fin de promocionar los Vídeo mensajes.
  %h3 7. MANIFESTACIONES Y ACEPTACIÓN DE RESPONSABILIDAD POR PARTE DE LA CELEBRIDAD
  %ol La Celebridad reconoce y acepta:
  %ol
    %li
      %span Que una vez se registre, SALUDOFAMOSOS no tiene obligación de contratarlo y solo será contactado cuando un Fan escoja sus Vídeo mensajes.
    %li
      %span Que todos los Vídeo mensajes que él haga, en relación con lo requerido por el Fan es única y exclusivamente responsabilidad de la Celebridad, en ningún caso será responsabilidad de SALUDOFAMOSOS.
    %li
      %span Es el único responsable, hasta la culpa levísima, de las consecuencias, daños y perjuicios a terceros, los fan y a SALUDOFAMOSOS, que se generen en virtud de la ejecución de las actividades o servicios que éste desarrolle o por la omisión en el cumplimiento de sus obligaciones legales y contractuales.
    %li
      %span Es el único responsable por el pago de las sanciones que se impongan o se deriven del desarrollo de sus actividades o de la forma de hacer Vídeo mensajes.
    %li
      %span Se obliga a mantener indemne a cualquier persona, incluyendo a los Fan y a SALUDOFAMOSOS, sus filiales, subsidiarias y/o compañías o personas relacionadas así como a los empleados, contratistas y dependientes de unas y otras y/o a los terceros, por razón de reclamos, demandas o cualquier acción legal que surja por cualquier clase de daños o perjuicios, incluyendo, sin limitación, multas, sanciones, muerte o lesiones personales y daños a la propiedad.
    %li
      %span La Celebridad se obliga a reembolsar el monto correspondiente, en el evento en que SALUDOFAMOSOS, sus filiales, subsidiarios y/o compañías o personas relacionadas, así como los empleados, contratistas y dependientes y/o a los terceros o un Fan fueren obligados al pago de algunas sumas de dinero en razón de la responsabilidad aquí descrita.
    %li
      %span Cualquier reclamación hecha por los consumidores como consecuencia de y/o relacionada con los Vídeo mensajes de la Celebridad será atendida directamente por este. Este último será informado por SALUDOFAMOSOS dentro de los 5 días siguientes a la fecha en que tenga conocimiento de la reclamación.
    %li
      %span En caso de que SALUDOFAMOSOS se vea obligado a atender la reclamación, lo hará y cobrará el valor correspondiente a la Celebridad, dependiendo del tipo de reclamación, para lo cual podrá hacer uso o compensar con dineros que posiblemente le deba SALUDOFAMOSOS a la Celebridad con ocasión de estas u otras relaciones contractuales.
    %li
      %span Que no podrá, sin la autorización previa, expresa y escrita de SALUDOFAMOSOS, ceder bajo ningún título, operación o negocio jurídico los derechos y obligaciones que emanan de este documento.
  %h3 8. EXCLUSIÓN DE RESPONSABILIDAD POR PARTE DE SALUDOFAMOSOS RESPECTO DEL FUNCIONAMIENTO Y CONTENIDO DE LA PLATAFORMA
  %ol
    %li
      %span SALUDOFAMOSOS no se responsabiliza por cualquier daño, perjuicio o pérdida que se le genere a las Celebridades causados directa o indirectamente por la relación jurídica celebrada por estos o por fallas en el sistema, en el servidor o en Internet. SALUDOFAMOSOS tampoco será responsable por cualquier virus que pudiera infectar el equipo de la Celebridad o los Fan como consecuencia del acceso, uso o examen de la Plataforma o a raíz de cualquier transferencia de datos, archivos, imágenes, textos o audio contenidos en el mismo. Las Celebridades no podrán imputarle responsabilidad alguna ni exigir pago en virtud de perjuicios resultantes de dificultades técnicas o fallas en los sistemas o Internet.
    %li
      %span SALUDOFAMOSOS no garantiza el acceso y uso continuado o ininterrumpido de la Plataforma.
    %li
      %span El sistema puede eventualmente no estar disponible debido a dificultades técnicas o fallas de Internet, o por cualquier otra circunstancia; en tales casos se procurará restablecerlo con la mayor celeridad posible sin que por ello pueda imputársele algún tipo de responsabilidad.
    %li
      %span SALUDOFAMOSOS no será responsable por ningún error u omisión contenidos en los Vídeo mensajes de la Celebridad.
      %span
        %br/
      %span Los contenidos de las pantallas relativas a los Servicios de SALUDOFAMOSOS, los programas, bases de datos, redes, archivos que permiten a la Celebridad acceder a la página, son de propiedad de SALUDOFAMOSOS y están protegidas por las leyes y los tratados internacionales de derecho de autor,
      %span  
      %span marcas, patentes, modelos y diseños industriales. El uso indebido y la reproducción total o parcial de dichos contenidos quedan prohibidos.
    %li
      %span La Celebridad indemnizará y mantendrá indemne a SALUDOFAMOSOS, su matriz, sus filiales, empresas controladas y/o controlantes, directivos, administradores, representantes y empleados, por cualquier reclamo o demanda de otras Celebridades, Fan o terceros por sus actividades en la Plataforma o por su incumplimiento de los presentes Términos y demás políticas que se entienden incorporadas al presente o por la violación de cualesquiera leyes o derechos de terceros, incluyendo los honorarios de abogados en una cantidad razonable.
  %h3 9. CONFIDENCIALIDAD
  %ol
    %span Las Partes acuerdan que la información suministrada mutuamente y por el Fan durante la prestación del servicio, incluyendo sin limitación, la documentación, la propiedad intelectual y la información financiera y comercial, es información reservada, secreta, confidencial y privada. Toda esta información deberá ser conservada en secreto por la parte receptora, deberá ser utilizada únicamente para los fines de los presentes Términos y no se divulgará a ninguna persona diferente a un empleado o persona que tenga la necesidad de conocer la información con el fin de cumplir las obligaciones derivadas de los presenten Términos, quien deberá dar cumplimiento al mismo deber de confidencialidad. La información no estará sujeta a las estipulaciones de esta cláusula si los registros del receptor indican que la información es: (i) de dominio público en el momento de su divulgación, o después de ésta sin que sea culpa del receptor; (ii) conocida por la parte receptora en el momento de su divulgación; (iii) divulgada a la parte receptora sin obligación de confidencialidad por un tercero que tenga el derecho de hacer tal divulgación; (iv) desarrollada independientemente por la Parte receptora. La Parte receptora podrá revelar la información en la medida que lo solicite o exija una entidad gubernamental o judicial, siempre y cuando tal divulgación se limite en la mayor medida permitida por la ley aplicable.
  %ol
    %span Al terminar la campaña relacionada con los Anuncios, ambas Partes devolverán o, por solicitud de la otra, destruirán toda la información confidencial o secreta que tengan en su posesión. Las obligaciones contraídas por las Partes en desarrollo de esta cláusula (Confidencialidad) sobrevivirán a la terminación de los servicios prestados.
  %ol
    %span Todas las obligaciones contenidas en este numeral se harán extensivas a los contratistas y subcontratistas de las Partes.
  %h3 10. PROPIEDAD INTELECTUAL Y DATOS PERSONALES
  %ol
    %li
      %span La marca “SALUDOFAMOSOS” es y será de propiedad exclusiva de SALUDOFAMOSOS.
    %li
      %span Salvo lo dispuesto en estos Términos en relación con las marcas, ninguna de las Partes está autorizada para utilizar cualquier signo distintivo o creación objeto de protección del derecho de propiedad industrial, intelectual, del derecho de autor o copyright perteneciente o relacionado con la otra Parte.
    %li
      %span El software, los procesos, métodos, know how y modelos de análisis de información son de propiedad exclusiva de SALUDOFAMOSOS o de cualquier sociedad perteneciente a su grupo empresarial y SALUDOFAMOSOS está en plenas facultades para usarlos para la prestación de los Servicios.
    %li
      %span Los contenidos de la Plataforma, así como también los programas, bases de datos, redes, archivos que permitan a la Celebridad y el Fan acceder a la Plataforma son de propiedad de SALUDOFAMOSOS y están protegidos por las leyes y los tratados internacionales de derecho de autor, marcas, patentes, modelos y diseños industriales. El uso indebido y la reproducción total o parcial de dichos contenidos quedan prohibidos, salvo autorización expresa y por escrito de SALUDOFAMOSOS.
    %li
      %span SALUDOFAMOSOS manifiesta y garantiza que los datos personales de la Celebridad y el Fan, así como la información sometida a reserva que conozca o llegue a conocer, será protegidas de conformidad con lo establecido en la ley 1581 de 2012, el Decreto 1377 de 2013 y demás normas que regulan el tema de los derechos de protección de datos personales, la propia imagen y la intimidad, entre otros derechos.
    %li
      %span Adicionalmente, con base en la ley 1581 de 2012, el Decreto 1377 de 2013, normas que regulan el tema de los derechos de protección de datos personales, la propia imagen y la intimidad, entre otros derechos, la Celebridad manifiesta y garantiza que en la grabación de sus Vídeo mensajes: (i) cumple con las normas de protección de datos; (ii) ha informado e informará a SALUDOFAMOSOS sobre la propiedad de las fotografías e imágenes que sean tomadas en virtud de la prestación del servicio y; (iii) ha obtenido el consentimiento y autorización de los dueños de la información y demás personas a que haya lugar para hacer uso de sus datos e imágenes para los fines de la relación regida por estos Términos.
  %h3 11. USO DE LA IMAGEN DE LA CELEBRIDAD
  %ol
    %span El Uso de la Imagen se refiere a la apropiación, adaptación, publicación, exposición, reproducción, inclusión en cualquier medio de comunicación, comercialización, fijación, comunicación y transmisión de la imagen y/o voz, y la modificación de cualquiera de las anteriores.
  %ol
    %span La Utilización de la Imagen, tendrá por finalidad la apropiación, adaptación, publicación, exposición, reproducción, inclusión en cualquier medio de comunicación, comercialización, fijación, comunicación y transmisión, y modificación de la Imagen:
  %ol
    %li
      %span En y para la ejecución, adaptación, publicación, exposición, emisión, fijación, transmisión y
      %span  
      %span reproducción de los Anuncios y comerciales relacionados con la campaña.
    %li
      %span Que esté o pueda estar ligada a cualquier otro segmento, video, producto audiovisual o no, relacionado directa o indirectamente con los Anuncios o con actos vinculados al desarrollo de la campaña de los Productos.
    %li
      %span Que esté o pueda estar ligada a cualquier otro programa televisivo o a cualquier otra plataforma audiovisual, gráfica, radial, existente o que se desarrolle en el futuro (incluyendo pero no limitado a televisión, revistas, radio, cine, medios gráficos, telefonía, video e internet) que esté o vaya a estar vinculado con los Anuncios o actos vinculados con la campaña.
    %li
      %span La Utilización de la Imagen se hará a partir de la ficha del registro y aceptación de los
      %span  
      %span Términos.
    %li
      %span La autorización del Influencer se refiere a que se incluya y edite la Imagen, y se ejecute todo acto encaminado a la divulgación de su contenido sin restricciones ni límites temporales y/o geográficos, así como en relación con los medios para su reproducción y/o difusión, siempre que ello esté circunscrito a la finalidad prevista en estos Términos.
    %li
      %span Queda expresamente establecido que el material que contenga la Imagen y Anuncios, incluyendo todos sus elementos, así como los resultados de la labor del Influencer, son a partir de este momento, de propiedad del Anunciante, quien contará con todos los derechos de explotación señalados en las normas vigentes, sin limitación alguna, pero siempre en función de la finalidad establecida en los presentes Términos. En algunos casos, bajo la entera discrecionalidad de SALUDOFAMOSOS, se establecerá por escrito el límite a esta cesión.
    %li
      %span El Influencer autoriza la totalidad de usos que pueda tener el Uso de la Imagen, o partes de la misma, utilizando los medios técnicos conocidos en la actualidad y los que pudieran desarrollarse en el futuro, y para cualquier aplicación. Todo ello con la única salvedad y limitación de aquellas utilizaciones o aplicaciones que pudieran atentar con el derecho a la dignidad, el honor, la intimidad personal y familiar, y a la propia imagen.
    %li
      %span El Influencer deja expresa constancia de que en el evento en el que aparezcan en los Anuncios personas diferentes a este, dicho servicio será prestado de manera gratuita y definitiva.
    %li
      %span SALUDOFAMOSOS y el Anunciante tienen prohibido expresamente la Utilización de la Imagen de una manera tal que afecte la vida privada del Influencer y la difusión de la Imagen en todo soporte de carácter pornográfico, xenófobo, violento, ilícito o con una finalidad distinta a la establecida en este documento.
    %li
      %span La autorización acá establecida y los derechos y facultades otorgados no se extienden a terceras personas, salvo consentimiento expreso.
  %h3 12. COMPETENCIA DESLEAL
  %ol
    %span Quedan prohibidos los actos de competencia desleal. Las Celebridades deben respetar en todas sus actuaciones el principio de la buena fe comercial. Se considera que constituye competencia desleal, todo acto o hecho que la Celebridad realice en el mercado con fines concurrenciales, cuando resulte contrario a las sanas costumbres mercantiles, al principio de la buena fe comercial, a los usos honestos en materia industrial o comercial, o bien cuando esté encaminado a afectar o afecte la libertad de decisión del comprador o consumidor, o el funcionamiento concurrencial del mercado. Asimismo les queda prohibido a las Celebridades infringir las normas sobre publicidad aplicables.
  %h3 13. RETIRO DE LA CATEGORIA DE CELEBRIDAD
  %ol
    %span La Celebridad podrá perder su calidad en uno de los siguientes eventos:
  %ol
    %li
      %span Cuando incumpla los deberes de propiedad intelectual, datos personales y uso de imagen descritos en el numeral anterior.
    %li
      %span Cuando incumpla lo dispuesto en los presentes Términos.
    %li
      %span Por mutuo acuerdo entre la Celebridad y SALUDOFAMOSOS.
    %li
      %span Por SALUDOFAMOSOS en cualquier momento y sin requerirse justificación alguna, mediante comunicación escrita a la Celebridad con una antelación no menos a 30 días calendario anteriores a la fecha en la cual pretenda hacer efectivo el retiro.
    %li
      %span Por vencimiento del término pactado.
    %li
      %span Por cualquiera de las demás consagradas en las normas legales.
  %ol
    %span Ninguno de los eventos antes descritos dará lugar a indemnización alguna respecto de ninguna de las partes, salvo que se trate de la establecida en el numeral (2) a favor de SALUDOFAMOSOS.
  %h3 14. POLÍTICAS DE COMPORTAMIENTO DE SALUDOFAMOSOS, LAS CELEBRIDADES, FAN O TERCEROS RELACIONADOS CON LOS SERVICIOS
  %ol
    %li
      %span La Celebridad que decida utilizar en la grabación de los Vídeo mensajes, como fotos y videos entre otros, imágenes de niños, niñas y adolescentes, deberá cumplir con las normas aplicables a la protección de estos, como por ejemplo la Convención sobre los derechos del niño (ley 12 de 1991), Protocolo Facultativo del Niño (adoptado por la Asamblea General de Naciones Unidas mediante Resolución A/RES/54/263 del 25 de mayo de 2000, y entró en vigor el 18 de enero de 2002), ley 679 de 2001, ley 1336 de 2009, y demás normas aplicables que protejan la integridad de los niños, niñas y adolescentes.
    %li
      %span SALUDOFAMOSOS manifiesta que está en contra del maltrato infantil y la explotación sexual de niños, niñas y adolescentes y no tiene ni tendrá vínculo comercial alguno con cualesquiera personas o compañías que utilicen y exploten sexualmente a niños, niñas y adolescentes o estén relacionados con personas o compañías que ejerzan esta actividad ilegal.
    %li
      %span SALUDOFAMOSOS incorporará esta política para la prevención del maltrato infantil y la explotación sexual de menores en sus políticas corporativas, e informará a su personal las consecuencias que del ejercicio de esta actividad ilegal se derivan, en caso de que se conozca que algún empleado, proveedor o Celebridad de SALUDOFAMOSOS está vinculado con alguna de estas prácticas ilegales.
    %li
      %span SALUDOFAMOSOS dará instrucciones claras a las Celebridades y Fan en relación con el contenido de los Vídeo mensajes, con el fin de proteger a los menores de estar expuestos a contenidos no apropiados.
    %li
      %span Está prohibido cualquier acto, conducta, hecho u omisión que directa o indirectamente discrimine por razones de sexo, raza, origen nacional o familiar, lengua, religión, opinión política o filosófica.
  %h3 15. JURISIDICCIÓN
  %ol
    %span Este Documento de términos y condiciones y todas las preguntas que surjan a continuación se regirán e interpretarán de conformidad con las leyes y decisiones del Estado de Florida, sin dar efecto a los principios de la misma relativas a los conflictos de Ley . Cada una de las partes del mismo
  %ol
    %li
      %span Se compromete de forma irrevocable que los tribunales ubicados en el condado de Miami - Dade tendrán competencia única y exclusiva sobre cualquier juicio u otro procedimiento que surja de o esté basada en este acuerdo
      %span  
    %li
      %span Se somete a la competencia y jurisdicción de dichos tribunales y
    %li
      %span consiente irrevocablemente a la jurisdicción personal
  %h3 16. VARIOS
  %ol
    %li
      %span Las ideas, opiniones, sugerencias y comentarios que
      %span  
      %span sean enviados por la Celebridad a SALUDOFAMOSOS, en forma espontánea y sin previa solicitud, podrán ser utilizados por SALUDOFAMOSOS. Se entiende que esa información no es confidencial y no está protegida por ninguna regulación relacionada con temas de propiedad intelectual o industrial. El remitente de esa información no podrá reclamar indemnización o participación alguna en razón del uso comercial o no.
    %li
      %span Estos términos y, todas las relaciones de cualquier tipo que se deriven de él, se regirán por la ley de la República de Colombia.
    %li
      %span Los Términos junto con aquellos documentos que en el futuro puedan establecerse, tienen por finalidad informar a las Celebridades, sobre los términos y condiciones del uso de la Plataforma y los derechos y obligaciones que adquieren en virtud de ello.
    %li
      %span Mediante la permisión de ingreso y registro de las Celebridades en la Plataforma, SALUDOFAMOSOS no concede ninguna licencia o autorización de uso de ninguna clase sobre sus derechos o bienes de su propiedad relacionada con este o sus contenidos.
    %li
      %span SALUDOFAMOSOS no está obligado a tener activa la Plataforma. De igual manera, se reserva el derecho de admisión de cualquier persona, y a suspender el servicio sin previo aviso sea cual fuere la razón.
    %li
      %span SALUDOFAMOSOS no será responsable por la información que suministre la Celebridad a SALUDOFAMOSOS o a los Fan, por lo que no será responsable en caso de entrega o registro de información falsa.
    %li
      %span Prohibiciones: usar la Plataforma, sus elementos técnicos y aplicativos con propósitos ilegales; violar, destruir, modificar o utilizar información de terceros sin la debida autorización del propietario de la información. Utilizar el nombre de SALUDOFAMOSOS o utilizar las plataformas tecnológicas suministradas por estos para distribuir mensajes comerciales o correos no solicitados. Cargar en la Plataforma archivos que puedan atentar contra la información en él contenida, tales como, pero sin limitarse a, virus, gusanos, troyanos, puertas trampa, bombas de tiempo u otras rutinas de programación informática que puedan potencialmente dañar, interferir, interceptar o expropiar cualquier sistema de datos o información personal. Cualquier conducta que genere o pueda generar, entre otros pero sin limitarse a, daños, errores, interrupciones o suspensión del funcionamiento de la Plataforma. El intento de acceso a áreas restringidas y/o la suplantación de una Celebridad, Fan o de cualquier tercero.
    %li
      %span La Celebridad en todo momento y, en especial, en sus relaciones con las demás Celebridades, SALUDOFAMOSOS o Fan se obliga a actuar de buena fe y a no llevar a cabo actos de competencia desleal.
  = succeed "'" do
    %p El presente documento se construye y establece la normatividad para el registro y operación con las Celebridades a partir de Agosto de 2019, teniendo en cuenta lo que establece la Cláusula tercera numeral 2
