.legal
  %h1 POLÍTICA PARA LA PROTECCIÓN Y EL TRATAMIENTO DE DATOS PERSONALES DE SALUDOFAMOSOS
  .p Este documento contiene la Política para la Protección y el Tratamiento de Datos Personales (en adelante la “Política”) de los empleados, clientes, proveedores, contratistas y/o colaboradores, y en general, de quien quiera que se encuentre en una base de datos (en adelante los “Titulares”) de la sociedad SALUDOS FAMOSOS S.A.S (en adelante “SALUDOFAMOSOS”), domiciliada en cada una de las ciudades donde tiene operación local conforme aparece registrado en el web site, con correo electrónico de contacto catasolcarretero@gmail.com.
  .p La aceptación de propuestas, la celebración de contratos, el diligenciamiento de formatos, el acceso a los Servicios ofrecidos mediante la Página Web www.saludofamosos.com (en adelante la Plataforma), el ingreso a las instalaciones de la compañía y/o la aceptación expresa o inequívoca de la presente política, implica la aceptación de los Titulares de la Política de Tratamiento y Protección de Datos Personales y su autorización para los usos y otros tratamientos que aquí se describen.
  %h2 1. DEFINICIONES
  .p Para los efectos de la presente Política, se entiende por:
  %h3 Dato personal:
  .p Cualquier información vinculada o que pueda asociarse a una o varias personas naturales determinadas o determinables.
  %h3 Dato público:
  .p Aquel dato que no es semiprivado, privado o sensible. Entre otros, son los datos relativos al estado civil de las personas, a su profesión u oficio y a su calidad de comerciante o de servidor público. Por su naturaleza, los datos públicos pueden estar contenidos, entre otros, en registros y documentos públicos.
  %h3 Dato Privado:
  .p Aquel dato que por su naturaleza íntima o reservada sólo es relevante para el Titular.
  %h3 Dato personal sensible:
  .p Aquellos datos que afecten la intimidad del titular o cuyo uso indebido tenga la potencialidad de generar su discriminación.
  %h3 Dato personal semiprivado:
  .p Aquellos datos que no tienen una naturaleza íntima, reservada, ni pública y cuyo conocimiento o divulgación puede interesar no solo a su titular, sino a un grupo de personas o a la sociedad en general. En este caso, para su Tratamiento se requiere la autorización expresa del Titular de la información. Por ejemplo: datos de carácter financiero, datos relativos a las relaciones con las entidades de seguridad social.
  %h3 Base de Datos:
  .p Conjunto organizado de datos personales que sea objeto de Tratamiento. Para los efectos del presente documento se entiende como Base de Datos, aquella que contiene información de Datos Personales de los Titulares.
  %h3 Titular:
  .p Persona natural cuyos datos personales sean objeto de Tratamiento. Para los efectos del presente documento se entiende como Titulares a los empleados, clientes, proveedores, contratistas y/o colaboradores de SALUDOFAMOSOS, así como a cualquier persona cuyos datos reposen en una base de datos responsabilidad de SALUDOFAMOSOS.
  %h3 Celebridad:
  .p Persona o que por su actividad artística, deportiva o por su nivel de audiencia en redes sociales es altamente reconocido por el público en general.
  %h3 Empleado:
  .p Persona natural que se encuentra vinculada por medio de un contrato laboral a SALUDOFAMOSOS, o con un tercero contratista que presta servicios a SALUDOFAMOSOS.
  %h3 Cliente o Fan:
  .p Persona natural que se vincula mediante la suscripción de contratos para adquirir productos y/o servicios de SALUDOFAMOSOS.
  %h3 Proveedores:
  .p Persona natural que provee o abastece de productos y/o servicios a SALUDOFAMOSOS.
  %h3 Contratistas y/o colaboradores:
  .p Persona natural que tiene relación comercial y/o de colaboración con SALUDOFAMOSOS.
  %h3 Plataforma de SALUDOFAMOSOS:
  .p Portal www.saludofamosos.com que SALUDOFAMOSOS pone a disposición de los Fan y las Celebridades para que allí se registren y accedan a sus Servicios. La Plataforma ofrece a sus visitantes una descripción de los Servicios y da la posibilidad de que cada Fan seleccione opciones que se enmarquen en sus necesidades y se facilite así la elección de su Celebridad.
  %h3 Servicios:
  .p Hace referencia a la prestación de servicios de intermediación por parte de SALUDOFAMOSOS.
  %h3 Responsable del Tratamiento:
  .p Persona natural o jurídica de naturaleza pública o privada, que, actuando por ella misma o con otros, decida sobre la Base de Datos y/o el Tratamiento de los datos. Para los efectos de la presente Política se entiende como Responsable del Tratamiento a SALUDOFAMOSOS.
  %h3 Encargado del Tratamiento:
  .p Persona natural o jurídica, pública o privada, que por sí misma o en asocio con otros, realice el Tratamiento de datos personales por cuenta del Responsable del Tratamiento, es decir SALUDOFAMOSOS.
  %h3 Tratamiento:
  .p Cualquier operación o conjunto de operaciones sobre Datos Personales, tales como la recolección, almacenamiento, uso, circulación o supresión.
  %h3 Transferencia:
  .p La transferencia de datos tiene lugar cuando el Responsable del Tratamiento de Datos Personales, envía los Datos Personales a un receptor, que a su vez es Responsable del Tratamiento y se encuentra dentro o fuera del país donde fueron recibidos.
  %h3 Transmisión:
  .p Tratamiento de Datos Personales que implica la comunicación de los mismos, cuando tenga por objeto la realización de un Tratamiento por parte del Encargado y por cuenta del Responsable.
  %h2 2. AUTORIZACIÓN
  .p La autorización de los Titulares de Datos Personales o de quien se encuentre legitimado es requisito indispensable para que SALUDOFAMOSOS recolecte, almacene, consulte, use, procese y en general, de Tratamiento a su información personal. Esta autorización será otorgada por el Titular en forma escrita, oral o a través de conductas inequívocas del Titular que permitan concluir de forma razonable que otorgó la autorización. Se entenderá que el Titular ha concedido la autorización de manera expresa e inequívoca cuando navegue, se registre o use los servicios de la Plataforma. SALUDOFAMOSOS tomará las medidas pertinentes para conservar copia o evidencia, o para documentar la existencia, de la autorización para consultas futuras.
  .p La autorización del Titular no será necesaria cuando se trate de:
  %ul
    %li Entrega de información requerida por una entidad pública o administrativa en ejercicio de sus funciones legales o por orden judicial.
    %li Tratamiento de Datos Públicos.
    %li Casos de urgencia médica o sanitaria.
    %li Tratamiento de información autorizado por la ley para fines históricos, estadísticos o científicos.
  %h2 3. DATOS PERSONALES
  %h3 3.1. TIPOS DE DATOS PERSONALES RECABADOS POR SALUDOFAMOSOS
  .p SALUDOFAMOSOS dará Tratamiento a los Datos Personales que sean necesarios para desarrollar las actividades comerciales inherentes a su objeto social, así como mantener y fortalecer las relaciones comerciales, contractuales, de consumo y laborales con los Titulares de los mismos.
  .p En particular, SALUDOFAMOSOS recabará los siguientes datos personales, entre otros que pudieren ser necesarios para estos fines:
  %h3 3.1.1. DATOS CELEBRIDADES:
  .p Nombre, apellido, tipo de identificación, número de identificación, fecha y lugar de expedición, sexo, firma, nacionalidad, lugar y fecha de nacimiento o muerte, edad, datos de ubicación relacionados con la actividad comercial o profesional, datos de ubicación personal relacionados con actividad privada, datos socioeconómicos, datos de información tributaria, datos patrimoniales, datos relacionados con la actividad económica, y cualquier otro dato que fuere necesario para lograr las finalidades descritas.
  .p Así mismo, si las Celebridades lo han hecho público en sus redes sociales, SALUDOFAMOSOS tendrá acceso a datos relacionados con la pertenencia a sindicatos, organizaciones sociales, de derechos humanos, religiosas, políticas, así como datos de preferencia, identidad y orientación sexual de la persona.
  %h3 3.1.2.  DATOS EMPLEADOS:
  .p Nombre, apellido, tipo de identificación, número de identificación, fecha y lugar de expedición, estado civil, genero, firma, nacionalidad, datos de familia y/o beneficiarios, otros documentos de identificación, lugar y fecha de nacimiento o muerte, edad, fotografías, datos de ubicación relacionados con actividad comercial o profesional, datos de ubicación personal relacionados con actividad privada, datos relacionados con el estado de salud, datos socioeconómicos, datos patrimoniales, datos relacionados con la actividad económica, datos relacionados con la historia laboral, datos relacionados con el nivel educativo, capacitación y/o historial académico, datos generales relacionados con los seguros de salud y pensiones, datos personales de acceso al sistema de información de SALUDOFAMOSOS, datos de antecedentes judiciales y/o disciplinarios y cualquier otro dato que fuere necesario para lograr las finalidades descritas.
  %h3 3.1.3. DATOS CLIENTES:
  .p Nombre, apellido, tipo de identificación, número de identificación, fecha y lugar de expedición, sexo, firma, nacionalidad, lugar y fecha de nacimiento o muerte, edad, datos de ubicación relacionados con la actividad comercial o profesional, datos de ubicación personal relacionados con actividad privada, datos socioeconómicos, datos de información tributaria, datos patrimoniales, datos relacionados con la actividad económica, y cualquier otro dato que fuere necesario para lograr las finalidades descritas.
  %h3 3.1.4. PROVEEDORES, CONTRATISTAS Y/O COLABORADORES:
  .p Nombre, apellido, tipo de identificación, número de identificación, fecha y lugar de expedición, sexo, firma, nacionalidad, lugar y fecha de nacimiento o muerte, edad, datos de ubicación relacionados con actividad comercial o profesional, datos de ubicación personal relacionados con actividad privada, datos financieros, crediticios y/o derechos de carácter económico, datos socioeconómicos, datos de información tributaria, datos patrimoniales, datos relacionados con la actividad económica, y cualquier otro dato que fuere necesario para lograr las finalidades descritas.
  %h3 3.2.    FORMA DE RECOLECCIÓN
  .p Los datos podrán ser suministrados explícitamente a SALUDOFAMOSOS mediante formatos de ingreso o vinculación, recolectados personalmente a través de sus empleados, prestadores de servicios o representantes, obtenidos mediante consulta a terceros que administren Bases de Datos, o recolectados implícitamente de las operaciones de análisis de grupos objetivo, adquisición de los productos o servicios que son ofrecidos por SALUDOFAMOSOS, o de los comportamientos de los Titulares como reclamaciones, solicitudes de información, encuestas, propuestas, ofertas, visita de las instalaciones de SALUDOFAMOSOS, de participación en proyectos, programas y eventos, entre otros.
  %h3 3.3. DATOS SENSIBLES
  .p Para el tratamiento de datos sensibles se informa a los Titulares que no están obligados a suministrar los referidos datos o a autorizar su tratamiento. Una vez suministrados dichos datos y otorgado el correspondiente consentimiento, los datos serán recopilados y tratados únicamente para las finalidades descritas en la presente Política de Privacidad.
  %h3 3.4. COOKIES
  .p SALUDOFAMOSOS utiliza cookies y otras herramientas que automáticamente recolectan información de las personas cuando usan la Página Web de SALUDOFAMOSOS, entendiendo que el ingreso y navegación en la Página Web es una conducta inequívoca de autorización. El tipo de información que puede ser recolectada de esta manera incluye: Información sobre el Localizador de recursos uniforme (URL), información acerca del explorador que utiliza el Titular, detalles de las páginas visitadas por el Titular, dirección IP, clicks, hipervínculos, nombre de usuario, foto de perfil, consultas, entre otros.
  %h3 3.5. OTRAS FUENTES DE RECOLECCIÓN
  .p SALUDOFAMOSOS puede recibir información personal del Titular por medio de otras fuentes como Bases de Datos públicas e información de terceras partes a las que el Titular ha otorgado autorización para compartir su información.
  %h3 3.6. ALCANCE
  .p La presente Política aplica a las bases de datos de las que es responsable SALUDOFAMOSOS. Por tanto, esta Política no cubre el tratamiento que hagan terceros de:
  %ul
    %li Información recolectada en páginas, plataformas y/o aplicaciones que no controle SALUDOFAMOSOS.
    %li Información recolectada por los sitios de terceras partes cuyo acceso haya sido vía algún vínculo en la Página Web de SALUDOFAMOSOS.
  %h2 4. FINALIDADES Y TRATAMIENTO
  %h3 4.1.    FINALIDADES GENERALES
  .p Las finalidades para las cuales SALUDOFAMOSOS tratará los Datos Personales y, que aplicarán de manera general a todos los Titulares, son:
  %ul
    %li Cumplir el objeto social de SALUDOFAMOSOS.
    %li Gestionar, administrar y usar toda la información necesaria para el cumplimiento de las obligaciones legales y contractuales de SALUDOFAMOSOS, así como las obligaciones tributarias, comerciales, corporativas y contables.
    %li Ejecutar contratos suscritos con SALUDOFAMOSOS.
    %li Dar soporte en procesos de auditoría externa e interna.
    %li Enviar información a entidades gubernamentales o judiciales por solicitud expresa de la misma.
    %li Recolectar datos para el cumplimiento de los deberes que como responsable de la información y datos personales le corresponde a SALUDOFAMOSOS.
    %li Socializar políticas, proyectos, programas y cambios organizacionales.
    %li Buscar la satisfacción de los Titulares respecto de los productos y servicios ofrecidos por SALUDOFAMOSOS.
    %li Prestar mejores beneficios, productos y servicios a los Titulares.
    %li Personalizar la experiencia de los Titulares en la Página Web SALUDOFAMOSOS.
    %li Realizar procesos al interior de SALUDOFAMOSOS, con fines de desarrollo u operativo y/o de administración de sistemas.
    %li Mantener comunicación con el Titular.
    %li Dar respuesta a preguntas, quejas, reclamos o comentarios de los Titulares.
    %li Enviar información comercial y/o corporativa, así como invitaciones a eventos y/o actividades que SALUDOFAMOSOS organice.
    %li Las demás finalidades que determinen los Responsables en procesos de obtención de Datos Personales para su Tratamiento, con el fin de dar cumplimiento a las obligaciones legales y regulatorias, así como de las políticas de SALUDOFAMOSOS.
  .p Adicionalmente, las finalidades específicas aplicables a los diferentes Titulares de las bases de datos de SALUDOFAMOSOS son:
  %h3 4.1.1. CELEBRIDADES
  %ul
    %li Identificar la Celebridad adecuada segun el deseo de los Fan
    %li Prestar el servicio de intermediación en la compra venta de Vídeo mensajes.
  %h3 4.1.2. EMPLEADOS
  %ul
    %li Conservar y administrar la información de la relación laboral con el Titular.
    %li Verificar conflictos de intereses en nuevos empleados de SALUDOFAMOSOS y sus filiales, así como inhabilidades e incompatibilidades de los mismos.
    %li Llevar un registro de las sanciones disciplinarias impuestas a los empleados de SALUDOFAMOSOS.
    %li Realizar Estudios de Seguridad.
    %li Promover actividades de bienestar de los empleados.
  %h3 4.1.3. CLIENTES
  %ul
    %li Enviar y recibir mensajes con fines comerciales, publicitarios, y/o de atención al cliente.
    %li Mantener contacto con los clientes y los clientes potenciales para el envío de información relacionada con la relación contractual y comercial.
    %li Proporcionar un efectivo servicio al cliente.
    %li Informar sobre cambio de productos y/o servicios.
    %li Realizar actividades de facturación, consultas de prevención de fraude y lavado de activos, verificación de referencias personales, comerciales y laborales, consulta ante las centrales de información de riesgo o consulta de las páginas web y las listas emitidas por las diferentes entidades privadas y/o gubernamentales, nacionales o extranjeras, antecedentes penales y disciplinarios en los que SALUDOFAMOSOS considere necesario.
    %li Realizar gestión de cobranza (escrita, telefónica o personal), recaudo, control, comportamiento, hábito de pago, así como cualquier otra relacionada con nuestros productos, servicios y reporte ante las centrales de información de riesgo.
  %h3 4.1.4. PROVEEDORES, CONTRATISTAS Y/O COLABORADORES
  %ul
    %li Realizar los respectivos pagos a proveedores y mantener relaciones comerciales.
    %li Realizar estudios financieros y verificación en bases de datos de riesgo crediticio, financiero, financiación del terrorismo y lavado de activos.
  %h3 4.2.    TRATAMIENTO DE LOS DATOS PERSONALES
  .p SALUDOFAMOSOS dará tratamiento a los Datos Personales de los Titulares para cumplir las finalidades descritas en esta Política según aplique, a cada uno de los Titulares. Dentro de dichos tratamientos, y de manera enunciativa pero no taxativa, SALUDOFAMOSOS podrá realizar los siguientes:
  %ul
    %li La comunicación con los Titulares para efectos contractuales, informativos o comerciales.
    %li Establecer comunicación entre SALUDOFAMOSOS y los Titulares para cualquier propósito relacionado con las finalidades que se establecen en la presente política, ya sea mediante llamadas, mensajes de texto, correos electrónicos y/o físicos.
    %li Ofrecer o informar al Titular sobre productos y/o servicios de SALUDOFAMOSOS que puedan ser de su interés, así como suministrar información general por medio de correos electrónicos como parte de una novedad, comunicación, boletín, noticia o Newsletter.
    %li De ser el caso, usar la información para dar trámite a los reclamos, quejas, sugerencias respecto de los servicios ofrecidos por SALUDOFAMOSOS.
    %li Efectuar o implementar la adquisición u oferta de productos o servicios por parte de SALUDOFAMOSOS.
    %li Recabar información acerca del dispositivo que se está utilizando para ver o utilizar la Pagina Web, como por ejemplo dirección IP o el tipo de explorador de Internet o sistema operativo utilizado y vincularla con información personal para garantizar que la Pagina Web brinde la mejor experiencia en línea.
    %li Evaluar el uso de la Pagina Web (de manera anónima e integral), así como realizar estadísticas de las actividades de los Titulares, como, por ejemplo, horas de visitas, frecuencia con las que se visita y sitio web que transfirió a la Pagina Web, de manera que se personalice la experiencia de los Titulares en la Página Web.
    %li Invitar y contactar a los Titulares para que participen en conferencias, talleres, y cualquier otro evento desarrollado por SALUDOFAMOSOS.
    %li Auditar, estudiar y analizar la información de las Bases de Datos para diseñar estrategias comerciales y aumentar y/o mejorar los productos y servicios que ofrece SALUDOFAMOSOS.
    %li Suministrar la información y Datos Personales de los Titulares a las sociedades subsidiarias, filiales o afiliadas a SALUDOFAMOSOS, aliados comerciales o a otras sociedades o personas que SALUDOFAMOSOS encargue para realizar el procesamiento de la información y cumplir con las finalidades descritas en la presente Política.
    %li Cuando la información deba ser revelada para cumplir con leyes, regulaciones o procesos legales, para asegurar el cumplimiento de los términos y condiciones, para detener o prevenir fraudes, ataques a la seguridad de SALUDOFAMOSOS o de otros, prevenir problemas técnicos o proteger los derechos de otros como lo requieran los términos y condiciones o la ley.
    %li Combinar los Datos Personales con la información que se obtenga de otros aliados o compañías o enviarla a los mismos para implementar estrategias comerciales conjuntas.
    %li Para los casos en que aplique, consultar, almacenar y usar la información financiera obtenida de terceros administradores de Bases de Datos, previa autorización expresa del Titular para dicha consulta.
    %li Las demás descritos en la presente política o permitidos en la Ley, así como aquellos necesarios para cumplir las finalidades descritas en este documento.
  %h3 4.4. SUMINISTRO DE DATOS PERSONALES A TERCEROS
  .p SALUDOFAMOSOS solo suministrará o dará acceso a terceros a la información personal de los Titulares cuando sea procedente o necesario según las finalidades descritas en la presente política.
  .p Así mismo, en caso de que sea necesario suministrar de los Titulares con terceros Encargados para que realicen el tratamiento en nombre de SALUDOFAMOSOS, el Titular autoriza a SALUDOFAMOSOS a suministrar su información con esos terceros y, entre otros, con:
  %ul
    %li Agencias de publicidad que apoyan a SALUDOFAMOSOS a cumplir y analizar la eficacia de sus productos y/o servicios.
    %li Terceros que deben entregarle al Titular algún producto o servicio ordenado, como por ejemplo algún servicio postal o de mensajería.
    %li A las autoridades policivas o gubernamentales en casos que éstas hayan seguido el debido proceso legal para solicitar que se les comparta la información del Titular.
    %li Terceros que deseen enviarle al Titular información acerca de sus productos y servicios únicamente en casos en los que se haya dado su previo consentimiento para ello por parte del Titular.
    %li Terceros prestadores de servicios, empresas de Outsourcing, personal en misión o temporal.
    %li Proveedores de herramientas analíticas web, tales como Google.
    %li Compañías, organizaciones o individuos fuera de SALUDOFAMOSOS, si se considera que revelar dicha información es necesaria por razones legales.
  .p Otras razones que nos pueden llevar a compartir información con terceros pueden ser:
  %ul
    %li Reforzar los términos aplicables de uso de la Página Web de SALUDOFAMOSOS.
    %li Llevar a cabo investigaciones de posibles violaciones a las leyes aplicables.
    %li Detectar, prevenir y proteger a SALUDOFAMOSOS contra el fraude y cualquier vulnerabilidad técnica o de seguridad.
    %li Cumplir con las leyes y regulaciones aplicables, y trabajar en conjunto para cualquier investigación legal y para cumplir con los requisitos gubernamentales.
  .p SALUDOFAMOSOS podrá así mismo suministrar o ceder la información a las entidades que resulten de una escisión y/o fusión total o parcial del negocio, consolidaciones, cambio de control, reorganización o liquidación de todo o una parte del negocio. Con la autorización concedida a SALUDOFAMOSOS para el tratamiento de sus datos el Titular expresamente manifiesta que la autorización concedida continuará vigente en caso que SALUDOFAMOSOS llegare a fusionarse, escindirse o transformarse, por lo cual la autorización se entenderá otorgada a la compañía resultante de la escisión, fusión o transformación.
  %h2 5. DERECHOS DEL TITULAR
  .p Los titulares ostentan los siguientes derechos respecto de sus Datos:  a) Conocer, actualizar y rectificar sus Datos Personales b) Solicitar prueba de la autorización otorgada c) Ser informado, previa solicitud, respecto del uso que le ha dado a sus Datos Personales d) Presentar ante la Autoridad Competente quejas por infracciones a la ley de protección de datos personales, según la ley aplicable) Revocar la autorización y/o solicitar la supresión del dato f) Acceder en forma gratuita a sus Datos Personales que hayan sido objeto de Tratamiento.
  %h2 6.  DATOS DE CONTACTO PARA CONSULTAS, RECTIFICACIONES Y RECLAMOS
  .p SALUDOFAMOSOS podrá ser contactada en el siguiente correo electrónico: katherinebeltran@fluvip.com y en el siguiente número de teléfono (57 1) 703-3229.
  %h2 7. PROCEDIMIENTO DE CONSULTAS, RECTIFICACIONES Y RECLAMOS
  .p A continuación, se señalan las acciones que pueden presentar los Titulares o sus Causahabientes en relación con las consultas rectificaciones y reclamos que se relacionen con los datos de los Titulares registrados en las Bases de Datos de SALUDOFAMOSOS.
  %h3 7.1. CONSULTAS:
  .p Las consultas y solicitudes de los Titulares o sus causahabientes serán atendidas en un término máximo de diez (10) días hábiles contados a partir de la fecha de recibo de la misma. Cuando no fuere posible atender la consulta dentro de dicho término, se informará al interesado en la dirección de notificación que haya incluido en la respectiva consulta, expresando los motivos de la demora y señalando la fecha en que se atenderá su consulta, la cual en ningún caso podrá superar los cinco (5) días hábiles siguientes al vencimiento del primer término. La respuesta a las consultas que los Titulares o sus causahabientes presenten podrá ser entregada por cualquier medio físico o electrónico.
  %h3 7.2. RECTIFICACIONES Y RECLAMOS:
  .p El Titular o sus causahabientes que consideren que la información contenida en las Bases de Datos de SALUDOFAMOSOS debe ser objeto de corrección, actualización o supresión, o cuando adviertan el presunto incumplimiento de cualquiera de los deberes contenidos en la ley, podrán presentar un reclamo ante SALUDOFAMOSOS así:
  %ul
    %li 1. El reclamo se formulará mediante solicitud dirigida al área encargada, de acuerdo a lo establecido en el Numeral Sexto de la presente Política de Privacidad, con la identificación del Titular, la descripción de los hechos que dan lugar al reclamo, la dirección, y acompañando los documentos que se quiera hacer valer. Si el reclamo resulta incompleto, se requerirá al interesado dentro de los cinco (5) días siguientes a la recepción del reclamo para que subsane las fallas. Transcurridos dos (2) meses desde la fecha del requerimiento, sin que el solicitante presente la información requerida, se entenderá que ha desistido del reclamo.
    %li En caso de que quien reciba el reclamo no sea competente para resolverlo, dará traslado a quien corresponda en un término máximo de dos (2) días hábiles e informará de la situación al interesado.
    %li 2. Una vez recibido el reclamo completo, se incluirá en la base de datos una leyenda que diga 'reclamo en trámite' y el motivo del mismo, en un término no mayor a dos (2) días hábiles. Dicha leyenda deberá mantenerse hasta que el reclamo sea decidido.
    %li 3. El término máximo para resolver el reclamo será de quince (15) días hábiles contados a partir del día siguiente a la fecha de su recibo. Cuando no fuere posible atender el reclamo dentro de dicho término, se informará al interesado los motivos de la demora y la fecha en que se atenderá su reclamo, la cual en ningún caso podrá superar los ocho (8) días hábiles siguientes al vencimiento del primer término. La respuesta a las rectificaciones o reclamos que los Titulares o sus causahabientes presenten podrá ser entregada por cualquier medio físico o electrónico.
  %h3 7.3. REVOCATORIA DE LA AUTORIZACIÓN
  .p Los Titulares de los Datos Personales pueden revocar el consentimiento al tratamiento de sus Datos Personales en cualquier momento, siempre y cuando no lo impida la disposición legal o contractual. Para ello, el Titular deberá seguir el mismo procedimiento establecido para las Rectificaciones y Reclamos.
  .p Se deberá tener en cuenta que existen dos modalidades en las que la revocación del consentimiento puede darse: (i) Puede ser sobre la totalidad de las finalidades consentidas, en este sentido SALUDOFAMOSOS y/o los Encargados del Tratamiento deben dejar de tratar por completo los datos del Titular y, (ii) puede ocurrir sobre tipos de tratamiento determinados, como por ejemplo para fines publicitarios o de estudios de mercadeo.
  .p Por lo anterior, será necesario que el titular al momento de elevar la solicitud de revocatoria, indique en ésta si la revocación que pretende realizar es total o parcial. En el segundo caso, se deberá indicar con cuál Tratamiento el Titular no está conforme. En caso de que el Titular no lo indique con claridad, se entenderá que la solicitud es total.
  .p Los mecanismos o procedimiento que SALUDOFAMOSOS establezca para atender las solicitudes de revocatoria no podrán exceder los plazos previstos para atender las reclamaciones.
  %h3 7.4. REQUISITO DE PROCEDIBILIDAD
  .p El Titular o causahabiente sólo podrá elevar queja ante la Autoridad Competente una vez haya agotado el trámite de consulta, reclamo o de revocatoria de la autorización ante el área encargada, de acuerdo a lo establecido en el Numeral Sexto de la presente Política de Privacidad.
  %h2 8. MEDIDAS DE SEGURIDAD PARA LA PROTECCIÓN DE LOS DATOS PERSONALES Y OTRA INFORMACIÓN
  .p SALUDOFAMOSOS tomará las precauciones razonables para mantener segura la información personal y para exigir a cualquier tercero que maneje o procese Datos Personales por encargo de SALUDOFAMOSOS que haga lo mismo. El acceso a la información personal está restringido para evitar accesos no autorizados, modificaciones o usos indebidos, y estará permitido su tratamiento únicamente por personas vinculadas a SALUDOFAMOSOS o encargadas expresamente para ello.
  %h2 9. PERIODO DE VIGENCIA DE LAS BASES DE DATOS
  .p Las Bases de Datos a las cuales dará Tratamiento SALUDOFAMOSOS, así como los Datos Personales debidamente autorizados incorporados en ellas estarán vigentes durante el plazo necesario para cumplir sus finalidades. Una vez cumplido este plazo, SALUDOFAMOSOS procederá a eliminar la base de datos o eliminar los datos de los titulares, según correspondiere.
  %h2 10. TRANSFERENCIAS Y TRANSMISIONES INTERNACIONALES DE DATOS
  %h3 10.1. TRANSFERENCIA
  .p Es posible que SALUDOFAMOSOS tenga que transferir información personal de los Titulares a Responsables en diferentes países. Al aceptar la presente Política para el Tratamiento de Datos Personales el Titular autoriza y da su consentimiento expreso para dicha Transferencia, a cualquier país o territorio.
  %h3 10.2. TRANSMISIONES
  .p Con la autorización otorgada por cualquiera de los medios previstos para tal fin, el Titular autoriza que SALUDOFAMOSOS realice transmisiones nacionales e internacionales de Datos Personales a un Encargado, para permitir que el Encargado realice el Tratamiento por cuenta de SALUDOFAMOSOS. Estas transmisiones no requerirán ser informadas al Titular ni contar con un consentimiento expreso adicional.
  %h2 11. MODIFICACIONES EN LA POLÍTICA DE TRATAMIENTO DE DATOS PERSONALES
  .p Cualquier cambio o modificación sustancial de la presente Política para el Tratamiento de Datos Personales, será comunicado oportunamente a los Titulares mediante la publicación en la Página Web de SALUDOFAMOSOS.
  %h2 12. INFORMACIÓN Y DATOS DE MENORES DE EDAD
  .p SALUDOFAMOSOS solo usará, almacenará y realizará tratamiento de datos personales de menores de edad con el expreso consentimiento de sus padres o representantes legales. En el caso de los datos de los menores de edad hijos o dependientes de empleados o colaboradores, la finalidad de dicho tratamiento será la de planear y realizar actividades relacionadas con el bienestar personal y familiar de los mismos. Para tales efectos, SALUDOFAMOSOS tendrá en cuenta el respeto y prevalencia de los derechos de los menores, su interés superior y sus derechos fundamentales.
  %h2 13. VIGENCIA Y MODIFICACIONES DE LA POLÍTICA PARA EL TRATAMIENDO DE DATOS PERSONALES
  .p La presente Política para el Tratamiento de Datos Personales se encuentra vigente a partir del 22 de agosto de 2019. Cualquier cambio o modificación sustancial de la presente Política para el Tratamiento de Datos Personales, será comunicado oportunamente a los Titulares mediante la publicación en la Página Web de SALUDOFAMOSOS.
