/*######################################################
# COLORS
######################################################*/

// Primary Colors
$primary-normal-pink: #eb144c;

// Primary Dark Colors
$primary-dark-gray: #353535;
$primary-dark-pink: #ec295c;

// Primary Ligth Colors
$primary-light-gray: #a5adba;
$primary-light-white: #f9f9f9;
