/*######################################################
# COLORS
######################################################*/

// Primary Colors
$primary-normal-pink: #eb144c;
$primary-normal-purple: #1800a3;

// Primary Dark Colors
$primary-dark-gray: #353535;
$primary-dark-pink: #ec295c;

// Primary Ligth Colors
$primary-light-gray: #a5adba;
$primary-light-white: #f9f9f9;

// Message colors
$message-info:    #3ea8fe;
$message-error:   #e20808;
$message-success: #7cba53;
