ul.pagination {
  justify-content: center;
  display: flex;

  li {
    border: 1px solid #ccc;
    padding: 3px 12px;
    cursor: pointer;

    &.selected, &:hover {
      background: $primary-normal-pink;
      color: #fff;
    }

    &.disabled {
      color: #ccc;
    }

    &:first-child {
      border-bottom-left-radius: 8px;
      border-top-left-radius: 8px;
    }

    &:last-child {
      border-bottom-right-radius: 8px;
      border-top-right-radius: 8px;
    }

    a {
      outline: none;
    }
  }

  li + li {
    border-left: none;
  }
}
