.react-phone-number-input {
  border: 1px solid $primary-light-gray;
  font-family: 'Noto Sans', sans-serif;
  border-radius: 22px;
  font-size: 0.875rem;
  padding: 9px 12px;
  background: #fff;

  .react-phone-number-input__icon {
    font-size: 0rem;
    border: none;
    height: auto;
    width: 25px;
  }

  .react-phone-number-input__icon-image {
    border-radius: 2px;
  }

  .react-phone-number-input__input {
    background: transparent;
    height: auto;
    border: none;
  }
}
