!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xmlns:o" => "urn:schemas-microsoft-com:office:office", "xmlns:v" => "urn:schemas-microsoft-com:vml"}
  %head
    /[if gte mso 9]
      <xml>
      <o:OfficeDocumentSettings>
      <o:AllowPNG/>
      <o:PixelsPerInch>96</o:PixelsPerInch>
      </o:OfficeDocumentSettings>
      </xml>
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-type"}/
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "date=no", :name => "format-detection"}/
    %meta{:content => "address=no", :name => "format-detection"}/
    %meta{:content => "telephone=no", :name => "format-detection"}/
    %meta{:name => "x-apple-disable-message-reformatting"}/
    / [if !mso]><!
    %link{:href => "https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i", :rel => "stylesheet"}/
    / <![endif]
    %title Email Template
    /[if gte mso 9]
      <style type="text/css" media="all">
      sup { font-size: 100% !important; }
      </style>
    %style{:media => "screen", :type => "text/css"}
      :cdata
        \/* Linked Styles */
        body { padding:0 !important; margin:0 !important; display:block !important; min-width:100% !important; width:100% !important; background:#fcfcfc; -webkit-text-size-adjust:none }
        a { color:#ff5151; text-decoration:none }
        p { padding:0 !important; margin:0 !important }
        img { -ms-interpolation-mode: bicubic; /* Allow smoother rendering of resized image in Internet Explorer */ }
        \.mcnPreviewText { display: none !important; }
        
        
        \/* Mobile styles */
        @media only screen and (max-device-width: 480px), only screen and (max-width: 480px) {
        u + .body .gwfw { width:100% !important; width:100vw !important; }
        
        \.m-shell { width: 100% !important; min-width: 100% !important; }
        \.m-center { text-align: center !important; }
        \.center { margin: 0 auto !important; }
        
        \.nav { text-align: center !important; line-height: 26px !important; }
        \.h2 { font-size: 26px !important; line-height: 34px !important; }
        \.bg { background-size: cover !important; background-repeat: no-repeat !important; }
        
        \.td { width: 100% !important; min-width: 100% !important; }
        \.bg { height: auto !important; -webkit-background-size: cover !important; background-size: cover !important; width: 100% !important; }
        
        \.m-br-15 { height: 15px !important; }
        \.p30-0 { padding: 30px 0px !important; }
        \.p30-15 { padding: 30px 15px !important; }
        \.p0-15-30 { padding: 0px 15px 30px 15px !important; }
        \.p0-15 { padding: 0px 15px !important; }
        
        \.pb40 { padding-bottom: 40px !important; }
        \.pb0 { padding-bottom: 0px !important; }
        \.pb20 { padding-bottom: 20px !important; }
        
        \.m-td,
        \.m-hide { display: none !important; width: 0 !important; height: 0 !important; font-size: 0 !important; line-height: 0 !important; min-height: 0 !important; }
        
        \.m-height { height: auto !important; }
        
        \.m-block { display: block !important; }
        
        \.fluid-img img { width: 100% !important; max-width: 100% !important; height: auto !important; }
        
        \.column,
        \.column-top,
        \.column-dir,
        \.column-bottom,
        \.column-dir-top,
        \.column-dir-bottom { float: left !important; width: 100% !important; display: block !important; }
        
        \.content-spacing { width: 15px !important; }
        }
  %body.body{:style => "padding:0 !important; margin:0 !important; display:block !important; min-width:100% !important; width:100% !important; background:#fcfcfc; -webkit-text-size-adjust:none;"}
    = yield
